.App {
  display: flex;
}

.content {
  margin-left: 250px; /* Отступ, равный ширине боковой панели */
  padding: 20px;
  flex: 1; /* Заполнение оставшегося пространства */
}

.headerRow {
  height: 20vh;
}

.rightBlock {
  height: 80vh;
}
